version: 2
jobs:
  build-docker:
    #https://github.com/builtinnya/circleci-2.0-beta-docker-example/blob/master/.circleci/config.yml
    working_directory: /app
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
          paths:
            - /caches/app.tar
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/app.tar | true
      - run:
          name: Build application Docker image
          command: |
            docker build --cache-from=app -t nicky/hyperion .
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/app.tar nicky/hyperion
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/app.tar
      - deploy:
          name: Push application Docker image
          command: |
            docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS         # (5)
            docker push nicky/hyperion:latest
            docker run --entrypoint="./hyperion" nicky/hyperion
  test-server:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/nickysemenza/hyperion
    steps:
      - checkout
      - run: curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      - run: dep ensure
      - run: ./test_cov.sh
      - run: bash <(curl -s https://codecov.io/bash)
      - store_test_results:
          path: .
  test-ui:
    docker:
      - image: node:9.3.0
    working_directory: ~/hyperion/ui
    steps:
      - checkout:
          path: ~/hyperion
      - run: yarn install
      - run: yarn run build-css
      - run: yarn test -- --coverage
      - run: bash <(curl -s https://codecov.io/bash)
      - store_test_results:
          path: ~/hyperion/ui
  build-ui:
    docker:
      - image: node:9.3.0
    working_directory: ~/hyperion/ui
    steps:
      - checkout:
          path: ~/hyperion
      - run: yarn install
      - run: yarn run build-all
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - test-server
      - test-ui
      - build-ui:
          requires:
            - test-ui
      - build-docker:
          requires:
            - test-ui
            - test-server
